
img, embed, object, video, picture {
  max-width: 100%; 
}

html {
  box-sizing: border-box; 
  background-color: black;
  height: auto;
  margin: auto;  
  width: 90%; 
  max-height: 300px;
}

*, *::before, *::after {
  box-sizing: inherit; 
}


body, p, h1, h2, h3, h4, h5 {
   margin: 0px; 
   padding: 0px;
}

.grid-con { 
  display: grid; 
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-span-full {grid-column: 1 / -1;}

.hidden {
  display: none;
}

.drop-board {
  position: absolute;
  left: 61%;
  top: 10%;
  height: 20%;
}

 .box1 {
   color: white;
   border-radius: 5px;
   position: absolute;
   left: 77%;
   width: 15%;
   height: 400px;
   top: 12%;
   overflow: scroll;
   padding-left: 5px;
 }

.drop-zone {
  border: 2px dashed lightblue;
  width: 100px;
  height: 100px;
  box-shadow: 6px 3px darkblue;
  border-radius: 50%;
}

 .drop-zone img {
	position: relative;
  width: 100%;
  left: 4%;
  padding: 0;
}

.close {
  color: lightblue;
  cursor: pointer;
  text-align: right;
  /* font-size: 1.5rem; */
  /* position: absolute;
    right: 3%; */
}


.box1 h4 {
  padding-bottom: 10px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
 }

 span {
  font-size: 20px;
  color: lightsalmon;
 }


@media screen and (min-width: 768px) {

/*Add Grid CSS*/

.grid-con { 
  display: grid; 
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.m-col-span-full {grid-column: 1 / -1;}

/*Main CSS*/

html {
  width: 90%;
}

.drop-board {
  left: 60%;
  top: 8%;
  height: 20%;
}

 .box1 {
   left: 75%;
   width: 16%;
   height: 500px;
   top: 10%;
 }

/*after drop*/

.drop-zone {
  border: 2px dashed lightblue;
  width: 120px;
  height: 120px;
  box-shadow: 6px 3px darkblue;
  border-radius: 50%;
}

 .drop-zone img {
	position: relative;
  width: 100%;
  left: 4%;
  padding: 0;
}
}
/*exit button option 1*/
/* .drop-zone::after {
  content: "x";
  color: white;
  position: absolute;
  font-size: 30px;
  cursor: pointer;
} */

@media screen and (min-width: 1200px) {
  .grid-con { 
    display: grid; 
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .l-col-span-full {grid-column: 1 / -1;}

  html {
    width: 90%;
  }

  .drop-board {
    left: 60%;
    top: 15%;
    height: 20%;
  }
  
   .box1 {
     left: 75%;
     width: 13%;
     height: 80%;
     top: 17%;
   }

   .drop-zone {
    width: 180px;
    height: 180px;
  }
  
   .drop-zone img {
    left: 3%;
  }
}